{% extends "base.html" %}
{% load static %} 
{% load render_bundle from webpack_loader %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/swiper.min.css' %}" media="screen"/>
<link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-divider/dist/css/bulma-divider.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-checkradio/dist/css/bulma-checkradio.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-extensions@4.0.1/bulma-tooltip/dist/css/bulma-tooltip.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bulma-tooltip.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bulma-checkradio.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bulma-divider.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/bulma.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/forum.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/opensans.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/forum.css' %}">

{% endblock %}
{% block content %}
<section class="hero" style="background-color:#2a2e2f">
  <div class="container">
    <div class="columns">
      <div class="column is-6">
        <h1 class="title is-1 has-text-white">AIHR Text annotations</h1>
        <h2 class="subtitle is-4 has-text-white">Create your project, upload data and start annotations.</h2>
        <p>
          <a href="{% url 'demo-named-entity-recognition' %}" class="button is-medium is-primary">
            AIHR Go
          </a>
        </p>
      </div>
      <div class="column is-6">
        <figure class="image">
          <img src="{% static 'assets/images/named_entity_recognition.png' %}">
        </figure>
      </div>
    </div>
  </div>
</section>

<div class="hero-body" style="background-image:linear-gradient(to bottom, #fafafa, #f3f3f3)">

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-1">
            <figure class="image">
              <img src="{% static 'assets/images/sentiment_analysis.png' %}" alt="Description">
            </figure>
          </div>
          <div class="column is-5">
            <h1 class="title is-2">
              Document Classification
            </h1>
            <h2 class="subtitle is-4">
              Annotation for any document classification tasks.
            </h2>
            <br>
            <p>
              <a href="{% url 'demo-text-classification' %}" class="button is-primary">
                AIHR Go
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-1">
            <figure class="image">
              <img src="{% static 'assets/images/named_entity_recognition.png' %}" alt="Description">
            </figure>
          </div>
          <div class="column is-5">
            <h1 class="title is-2">
              Sequence Labeling
            </h1>
            <h2 class="subtitle is-4">
              A clean interface to tag named entity recognition, parts-of-speech, and semantic-roles.
            </h2>
            <br>
            <p>
              <a href="{% url 'demo-named-entity-recognition' %}" class="button is-primary">
                AIHR Go
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="columns is-vcentered">
          <div class="column is-5 is-offset-1">
            <figure class="image">
              <img src="{% static 'assets/images/translation.png' %}" alt="Description">
            </figure>
          </div>
          <div class="column is-5">
            <h1 class="title is-2">
              Sequence to Sequence
            </h1>
            <h2 class="subtitle is-4">
              A slick interface to label any sequence-to-sequence tasks.
            </h2>
            <br>
            <p>
              <a href="{% url 'demo-translation' %}" class="button is-primary">
                AIHR Go
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<div class="hero-body" style="background-image:linear-gradient(to bottom, #fafafa, #f3f3f3)">
  <div class="container">

    <div class="columns features">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'assets/images/cats/seq2seq.jpg' %}" alt="Placeholder image" class="modal-button" data-target="modal-image2">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Multiple Annotators</h4>
              <p>Add users to add annotations for your projects.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'assets/images/cats/sequence_labeling.jpg' %}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Language independent</h4>
              <p>AIHR Pro-Label is language-independent.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4 modal-button" data-target="modal-image">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{% static 'assets/images/cats/text_classification.jpg' %}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>Auto labeling</h4>
              <p>Machine learning model automatically annotates texts; only required to correct errors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <h2>
          <strong class="has-text-white">AIHR</strong>
        </h2>
        <ul>
          <li>
            <a href="{% url 'demo-named-entity-recognition' %}">AIHR Demo</a>
          </li>
        </ul>
      </div>
      <div class="column is-4">
        <h2>
          <strong class="has-text-white">FEATURES</strong>
        </h2>
        <ul>
          <li>
            <a href="{% url 'demo-text-classification' %}">Text Classification</a>
          </li>
          <li>
            <a href="{% url 'demo-named-entity-recognition' %}">Sequence Labeling</a>
          </li>
          <li>
            <a href="{% url 'demo-translation' %}">Sequence-to-Sequence</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="content has-text-centered">
      <p>
        <a href="https://github.com/quinnpertuit1/AIHR">Pro-Label</a> by
        <a href="https://github.com/quinnpertuit1">AIHR</a>. Source code is private
        <br>
      </p>
    </div>
  </div>
</footer>
{% endblock %}

{% block footer %}
{% render_bundle 'index' 'js' %}
{% endblock %}
